@use 'variaveis';

.faq{
    padding: 5.6vw;

    h2{
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions{
        list-style: none;

        &__item{
            background-color: #13151d;
            margin-bottom: 16px;

            &__question{
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;
                
                &::after{
                    content: '+';
                    position: absolute;
                    right: 24px;
                    height: 100%;
                    top: 0;
                    font-size: 40px;
                    align-items: center;
                    display: flex;
                }
            }

            &__answer{
                overflow: hidden;
                height: 0;
                padding: 0 24px;
                transition: height, .5s ease;
                
                p{
                    margin: 24px 0;

                    &:first-child{
                        margin-bottom: 0;
                        margin-top: 0;
                    }
                }
            }

            &--is-open{
                .faq__questions__item__question::after{
                    content: '-';
                    font-size: 80px;
                }

                .faq__questions__item__answer{
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, .5s ease;
                    
                }
            }
        }
    }
}